.dashboard-container {
  grid-template-areas:
    'map_id2 ssd_id2 ssd_id3'
    'map_id2 ssd_id4 ssd_id5'
    'map_id2 graph_id5 graph_id5';
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows:
    1fr
    1fr
    2fr;
}
