.dashboard-container {
  grid-template-areas:
    'map reports'
    'map charts';
  grid-template-columns: 2fr 1fr;
  grid-template-rows:
    2fr
    3fr;
}

/* Mobile */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .dashboard-container {
    grid-template-areas:
      'map'
      'reports'
      'charts';
    grid-template-columns: 1fr;
    grid-template-rows:
      2fr
      1fr
      3fr;
  }
}
