@import 'fonts/RO/fonts.css';
@import './default-styles.css';
@import './vuetifiy-overrule.css';

:root {
  --font-family: 'RO-Sans', sans-serif;
  --theme-color: white;
  --canvas-fill: rgb(var(--v-theme-surface-variant));
  --canvas-fill: rgb(223, 223, 223);
  --weboc-app-bar-bg-color: rgb(249, 225, 30);
}

.dark {
  --contrast-color: rgb(255, 255, 255);
  --theme-color: black;
  --canvas-fill: rgb(var(--v-theme-surface-variant));
  --weboc-app-bar-bg-color: none;
}
