.v-theme--light *::-webkit-scrollbar {
  width: 15px;
}

.v-theme--light *::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: rgb(var(--v-theme-surface));
}

.v-theme--light *::-webkit-scrollbar-thumb {
  background:  rgb(var(--v-theme-surface-variant));
  border: solid 3px #e6e6e6;
  border-radius: 7px;
}

.v-theme--light *::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--v-theme-on-surface-variant));
}

.v-theme--dark *::-webkit-scrollbar {
  width: 15px;
}

.v-theme--dark *::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
  background: rgb(var(--v-theme-surface));
}

.v-theme--dark *::-webkit-scrollbar-thumb {
  background:  rgb(var(--v-theme-surface-variant));
  border: solid 3px #202020;
  border-radius: 7px;
}

.v-theme--dark *::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--v-theme-on-surface-variant));
}

.v-theme--light *:focus {
  outline: 1px solid rgb(25, 118, 210) !important;
  outline-offset: -1px;
}

.v-theme--dark *:focus {
  outline: 1px solid rgb(33, 150, 243) !important;
  outline-offset: -1px;
}

.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
  border-bottom: 0 !important;
  position: sticky;
  top: 0;
  z-index: 2;
}
