@import './fonts/exo-2/fonts.css';
@import './default-styles.css';
@import './vuetify-overrule.css';

:root {
  --font-family: 'Exo 2', sans-serif;
  --theme-color: white;
  --contrast-color: black;
  --canvas-fill: rgb(223, 223, 223);
  --weboc-app-bar-bg-color: #080c80;
}

.dark {
  --contrast-color: rgb(255, 255, 255);
  --theme-color: black;
  --canvas-fill: rgb(54, 54, 54);
  --weboc-app-bar-bg-color: #0d0e35;
}
