:root {
  --flag-reliable-color: none;
  --flag-unreliable-color: #ffff00;
  --flag-doubtful-color: #ffc800;
  /* Unused? */
  --flag-modified-color: #ff0000;
  --flag-accumulation-reset-color: Beige;
  --flag-missing-color: #ffffff;
  --flag-persistent-unreliable-color: #e18b6b;
}
