.maplibregl-ctrl.maplibregl-ctrl-group {
  background-color: rgba(var(--v-theme-surface), 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.maplibregl-ctrl-group button {
  color: currentColor;
  height: 32px;
  width: 32px;
}

.maplibregl-ctrl-group button + button {
  border-top: 1px solid rgba(var(--v-theme-on-surface), 0.12);
}

.maplibregl-terradraw-measure-add-control.hidden {
  display: none;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon,
.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon,
.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon,
.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate:disabled
  .maplibregl-ctrl-icon {
  background-image: unset;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon::before {
  font-family: 'Material Design Icons';
  content: '\F0415'; /* mdi-plus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon::before {
  font-family: 'Material Design Icons';
  content: '\F0374'; /* mdi-minus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon::before {
  font-family: 'Material Design Icons';
  content: '\F018B'; /* mdi-compass */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate
  .maplibregl-ctrl-icon::before {
  font-family: 'Material Design Icons';
  content: '\F01A4'; /* mdi-crosshairs-gps */
  font-size: 22px;
  line-height: 32px;
}
.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate:disabled
  .maplibregl-ctrl-icon::before {
  font-family: 'Material Design Icons';
  content: '\F0F45'; /* mdi-crosshairs-off */
  font-size: 22px;
  line-height: 32px;
  opacity: 0.5;
}

.maplibregl-terradraw-add-control.active,
.maplibregl-terradraw-measure-add-control.active,
.maplibregl-terradraw-valhalla-add-control.active {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.maplibregl-terradraw-measure-add-control:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.maplibregl-terradraw-measure-render-button::before {
  font-family: 'Material Design Icons';
  content: '\F08F0'; /*mdi-map-marker-distance */
  line-height: 32px;
  font-size: 22px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-rectangle-button::before {
  font-family: 'Material Design Icons';
  content: '\F065F'; /* mdi-shape-rectangle-plus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-polygon-button::before {
  font-family: 'Material Design Icons';
  content: '\F065E'; /* mdi-shape-polygon-plus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-linestring-button::before {
  font-family: 'Material Design Icons';
  content: '\F055E'; /* mdi-vector-line */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-freehand-button::before {
  font-family: 'Material Design Icons';
  content: '\F0DEB'; /* mdi-pencil-plus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-circle-button::before {
  font-family: 'Material Design Icons';
  content: '\F065D'; /* mdi-shape-circle-plus */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-add-select-button::before {
  font-family: 'Material Design Icons';
  content: '\F01C0'; /*mdi-cursor-default */
  font-size: 22px;
  line-height: 32px;
}

.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-delete-button::before {
  font-family: 'Material Design Icons';
  content: '\F01B4'; /*mdi-delete*/
  font-size: 22px;
  line-height: 32px;
}
.maplibregl-terradraw-measure-add-control.maplibregl-terradraw-measure-download-button::before {
  font-family: 'Material Design Icons';
  content: '\F1774'; /*mdi-file-marker*/
  font-size: 22px;
  line-height: 32px;
}
