name: Run npm test & npm lint on Pull Requests

permissions:
  contents: read

on:
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 22
      - run: npm ci

      - name: Run unit tests
        run: npm run test:unit

      # - name: Test Report
      #   uses: dorny/test-reporter@v1
      #   if: success() || failure() # run this step even if previous step failed
      #   with:
      #     name: JEST Tests # Name of the check run which will be created
      #     path: reports/junit.xml # Path to test results
      #     reporter: jest-junit # Format of test results

      - name: Run linter
        run: npm run lint
