name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Get installed Playwright version
        id: playwright-version
        run: |
          echo "PLAYWRIGHT_VERSION=$(npm ls playwright --depth=0 --package-lock-only --json \
            | sed -n '/\"playwright\": {/,/}/ s/.*\"version\": \"\([^\"]*\)\".*/playwright@\1/p')" >> $GITHUB_ENV
      - name: Cache playwright binaries
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-${{ env.PLAYWRIGHT_VERSION }}
      - run: npm ci
      - run: npx playwright install --with-deps chromium firefox webkit
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Install Playwright dependencies
        run: npx playwright install-deps
      - name: Run Playwright component tests
        run: npm run test:component
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
